@import "tailwindcss";

/* You can add your own custom global styles here */

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom global scrollbar (can be overridden by specific elements) */
::-webkit-scrollbar {
  width: 6px; /* Default width for other scrollbars */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Default track background */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar for textarea to prevent ring overlap and place it inside */
textarea::-webkit-scrollbar {
  margin-right: 1px;
  width: 4px; /* Thinner scrollbar for textarea */
}

textarea::-webkit-scrollbar-track {
  background: transparent; /* Make track transparent */
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(28, 57, 142, 0.2); /* Slightly transparent thumb */
  border-radius: 4px; /* Smaller radius for thinner thumb */
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(28, 57, 142, 0.3); /* Slightly darker on hover */
}